
@font-face{
    font-family: "FigtreeItalic";
    src: url(assets/fonts/Figtree-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 700;
}

@font-face{
    font-family: "FigtreeItalic";
    src: url(assets/fonts/Figtree-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 400;
}

@font-face{
    font-family: "Figtree";
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf) format('truetype');
    font-weight: 700;
}

@font-face{
    font-family: "Figtree";
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf) format('truetype');
    font-weight: 400;
}


/* Variables */
:root{
    --Yellow: hsl(47, 88%, 63%);

    --White: hsl(0, 0%, 100%);

    --Gray-500: hwb(0 42% 58%);
    --Gray-950: hsl(0, 0%, 7%);
    
}



/* Estilos generales */
body{
    background-color: var(--Yellow);
    font-size: 1rem;
    padding: 16px;
    font-family: 'Figtree';
}


/* Contenedor principal */
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* Tarjeta Blog*/
.blog-card{
    background-color: var(--White);
    padding: 20px;
    border-radius: 10px;
    max-width: 22rem;
    border: 1px solid black;
    box-shadow: 10px 10px var(--Gray-950);
}


/* Elementos de la tarjeta */
.blog-card_image{
    border-radius: 10px;
    height: auto;
    max-width: 100%;
    
}

.blog-card_category{
    font-weight: 700;
    padding: 5px 15px;
    background-color: var(--Yellow);
    margin-top: 20px;
    display: inline-block;
    border-radius: 5px;
    color: black;
}

.blog-card_date{
    font-size: 0.875rem;
}

.blog-card__description{
    color: var(--Gray-500);
}

.blog-card__author{
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.blog-card__author-image{

    height: 40px;
    width: 40px;
}

.blog-card__author-name{
    font-weight: 700;
    margin-top: 0;
}
