
/* Variables */
:root{
    --yellow: hsl(47, 88%, 63%);

    --white: hsl(0, 0%, 100%);

    --gray500: hwb(0 42% 58%);
    --gray950: hsl(0, 0%, 7%);
    
}



/* Estilos generales */
body{
    background-color: var(--yellow);
    font-size: 16px;
    font-family: 'Figtree';
}


/* Contenedor principal */
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 24px;
}


/* Tarjeta Blog*/
.blog-card{
    background-color: var(--white);
    padding: 22px;
    border-radius: 20px;
    max-width: 384px;
    border: 1px solid var(--gray950);
    box-shadow: 8px 8px 0 var(--gray950);
    min-width: 21rem;
    transition: all 0.3s ease;

    &:hover{
    box-shadow: 16px 16px 0 var(--gray950);

    }
}


/* Elementos de la tarjeta */
.blog-card_image{
    border-radius: 15px;
    height: auto;
    max-width: 100%;
    overflow: hidden;
}

.blog-card_category{
    font-weight: 800;
    padding: 6px 13px;
    background-color: var(--yellow);
    margin: 20px 0 16px;
    display: inline-block;
    border-radius: 6px;
    color: black;
    
}

.blog-card_date{
    font-size: 0.875rem;
}

.blog-card__title{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 15px 0 18px;
    
}

.blog-card__description{
    color: var(--gray500);
    line-height: 150%;
    font-size:  0.875rem;
}



.blog-card__author{
    margin-top: 20px;
    display: flex;
    
    align-items: center;
    gap: 14px;
}

.blog-card__author-image{

    /* height: 40px;
    width: 40px; */
    width: 32px;
}

.blog-card__author-name{
    font-size: 0.875rem;
    font-weight: 800;
    margin-top: 0;
}
